
#roomForm {
    border: solid;
    max-width: 500px;
    height: 110px;
    position: center;
}
body {
    background-color: #121212;
}
#roomForm > * {
    /* justify-content: center;
    align-items: center;
    display: flex; */
    margin: 0 0 0 30%;
}

label {
    color: gray;

}
input {
    color: black;
    background-color: gray;
}

#connect {
    margin: 5px 0 0 41%;
}



#userList {
    position: fixed;
    top: 26px;
    right: 5px;
    width: 20%;
    height: 93.3%;
    border: solid;
    border-color: black;
    
}
#userList >p {
    color: gray;
}

#chat {
    position: absolute;
    border: solid;
    height: 110px;
    width: 75%;
    top: 820px;
    display: none;   
    
}
#error{
    display:none;
    color:white;
}

#roomName {
    display: none;
    color: gray;
}
#copy {
    display: none;
    margin-left: 5px;
  
}



#message {
    text-align: left;
    height: 20px;
    width: 99.45%;
    background-color: #121212;
    border-color: black;
    color: gray;
    
}
#messageLog > p {
    color: gray;
}

#send {
    position: fixed;
    bottom: 40px;
    left: 15px;
   
}
#messageLog{
    position: absolute;
    border: solid;
    border-color: black;
    width: 75%;
    height: 80%;

}