#roomForm {
    border: solid;
    max-width: 500px;
    height: 110px;
    position: center;
}

#roomForm > * {
    /* justify-content: center;
    align-items: center;
    display: flex; */
    margin: 0 0 0 30%;
}

#connect {
    margin: 5px 0 0 41%;
}

#userList {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 250px;
    height: 925px;
    border: solid;
    border-color: black;
}

#chat {
    position: absolute;
    border: solid;
    height: 110px;
    width: 1620x;
    top: 820px;
    display: none;    
    
}

#message {
    text-align: left;
    height: 20px;
    width: 1612px;
    
}

#send {
    position: fixed;
    bottom: 35px;
    left: 1585px;
   
}