#roomForm {
    border: solid;
    max-width: 500px;
    height: 110px;
    position: center;
}

#roomForm > * {
    /* justify-content: center;
    align-items: center;
    display: flex; */
    margin: 0 0 0 30%;
}

#connect {
    margin: 5px 0 0 41%;
}

#userList {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 20%;
    height: 100%;
    border: solid;
    border-color: black;
}

#chat {
    position: absolute;
    border: solid;
    height: 110px;
    width: 75%;
    top: 820px;
    display: none;    
    
}
#error{
    display:none;
}

#roomName {
    display: none;
}

#message {
    text-align: left;
    height: 20px;
    width: 99.4%;
    
}

#send {
    position: fixed;
    bottom: 40px;
    left: 15px;
   
}
#messageLog{
    position: absolute;
    border: solid;
    border-color: black;
    width: 75%;
    height: 80%;

}